<h2>Add Image</h2>

<form class="form center-form" method="POST">
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea name="description" required maxlenght="500" id="description-id" cols="30" rows="10">{{description}}</textarea>
  </div>
  <div class="form-group">
    <label for="url">Image URL:</label>
    <input type="text" required name="url" value="{{url}}" />
  </div>
  <div class="form-group">
    <input class="form-btn btn btn-success" type="submit" value="Add">
  </div>
</form>
